.carouselContainer {
  position: relative;
  width: 100%;
  height: 800px; /* Adjust height globally */
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}


.image{
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 35%; /* Same position for text overlay */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.actionButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f2a900;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: rgb(209, 136, 0);
}

.navButtonLeft,
.navButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navButtonLeft {
  left: 10px;
}

.navButtonRight {
  right: 10px;
}

.navButtonLeft:hover,
.navButtonRight:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 650px) {
  .overlay {
    position: absolute;
    bottom: 30%; /* Same position for text overlay */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 90%; /* Controls the width */
  }


  .navButtonLeft,
  .navButtonRight {
    top: auto;  /* Remove centering in the vertical axis */
    bottom: 20px;  /* Position buttons 20px from the bottom */
    transform: none;  /* Remove the vertical centering transform */
  }
  .navButtonLeft {
    left: 50%;
    transform: translateX(-50%) translateX(-60px);  /* Center + move left */
  }

  .navButtonRight {
    left: 50%;
    transform: translateX(-50%) translateX(60px);  /* Center + move right */
  }
}