.gallery {
    width: calc(50% - 64px);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main_image {
    background: #050505;
    width: 100%;
    height: auto; 
    max-height: 500px; 
    aspect-ratio: 16 / 9; 
    object-fit: cover;
    margin: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    .gallery {
        width: 100%;
    }

    .main_image {
        max-height: 300px; 
    }
}

@media (max-width: 480px) {
    .main_image {
        max-height: 200px; 
    }
}
