.product_details {
    margin-top: 24px;
    width: 20%;
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.product_details .title {
    font-size: 36px;
    font-weight: 700;

}

.product_details .price {
    font-size: 24px;


}

.product_details .btn-wrapper {
    padding: 16px 24px;
    border: none;
    background-color: rgba(252, 229, 25, 0.89);
    color: black;
    display: flex;
    gap: 16px;
    display: inline-block;
    border-radius: 20px;
    width: 50%;
    height: 100%;
    cursor: pointer;
    transition: 0.25s;
}

.product_details .btn-wrapper:hover {
    background-color: rgba(255, 242, 122, 0.89);
}

.product_details .quantity {
    background-color: rgb(173, 172, 169);
    padding: 3.5%;
    white-space: nowrap;
    margin-right: 20px;
    border-radius: 10px;

}