.product_page_wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 2%;
}

.product_details {
    padding-left: 15%;
    width: 100%;
    padding: 32 px;
    display: flex;
    gap: 64px;
}