.yellow-bar {
    width: 60%; /* Full width */
    height: 25px; /* Adjust thickness */
    background-color: rgba(252, 229, 25, 0.89); /* Yellow color */
    margin: 8px auto 0 auto;
    border-radius: 10px;
}