winget up.cart-button-container {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  padding: 20px;
}

.add-to-cart-btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.cart-icon {
  width: 40px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.add-to-cart-btn:hover {
  background-color: #767779;
}

.add-to-cart-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}
